.center-box {
  height: 350px;
  width: 550px;

  background-color: #00ffff;
  padding: 5rem;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: gray;
  padding: 1rem;
  text-align: center;
  font-style: italic;
  color: #a52a2a;
}
ol,
li {
  width: 50%;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #a52a2a;
  font-size: larger;
}

.box {
  width: 250px;
  height: 250px;
  background: -moz-repeating-linear-gradient();
  border-radius: 50%;
}
footer {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: blue;
  font-size: large;
  padding: 5px;
  background-color: pink;
  border: #a52a2a;
}
aside {
  width: 50%;
  padding: 0;
  float: right;
  box-shadow: yellow;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: blue;
}
